.carrito {
    box-shadow: 0 1rem 30rem hsl(0deg 20%0% / 20%);
    padding: 0;
    max-width: 127vh !important;
    background-color: white;
    padding: 2.5rem 0;
}

.leftCart {
    background-color: white;
    padding: 5vh;
    padding-left: 8vh;
}

.rightCart {}

.header_cart {
    margin: 2rem;
}

.product_row_cart {
    margin: 2rem;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.product_row_cart_note {
    margin: 2rem;
    margin-top: 8vh;
}

.product_row_cart_total {
    margin: 1rem;
    margin-top: 5vh;
}

.product_row_cart_aviso {
    margin: 1rem;
    margin-top: 2vh;
}

.product_image_cart {
    width: 7vh;
}

.product_name_cart {
    font-size: 1rem;
    margin-top: 1vh;
    font-weight: bold;
}

.product__price_cart {
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: bold;
}

.product__price_cart_total {
    margin-top: 1vh;
    font-size: 1rem;
    font-weight: bold;
}

.product_category_cart {
    font-size: .9rem;
}

.product_id_cart {
    font-size: .9rem;
}

.col {
    text-align: left;
}

.container_cart .card {
    position: relative;
    height: 10vh;
    border-radius: 20px;
    overflow: visible;
    border: none !important;
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffecf6;
    clip-path: circle(3vh at 35% 70%);
    transition: 0.5s ease-in-out;
}

.container_cart .card .imgBx {
    z-index: 1 !important;
    bottom: 2vh;
    transition: 0.5s;
}

.container_cart .card .contentBx {
    position: relative;
    transition: 1s;
    z-index: 1;
}

.rounded {
    border-top: .5vh solid rgb(251 243 239);
    border-radius: 5px;
}

.total_cart_price,
.total_cart_text {
    text-align: center;
    vertical-align: bottom;
}

.total_cart_text {
    width: 80%;
}

.total_cart_text h6,
.total_cart_text .form-check {
    font-size: .9rem;
    float: left;
    text-align: left;
}

.total_cart_price h6 {
    font-size: 1.5rem;
    font-weight: bold;
}

.cart_section {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#cart_note {
    width: 100%;
    border: .4pt solid #dfdfdf;
}

.checkout_cart {
    background-color: #ff0081;
    border-radius: 2vh;
    color: white;
    float: left;
    font-size: 0.9rem;
    padding: 1rem;
    width: 15vh;
}

.checkout_cart:hover {
    background-color: #ff349a;
}

.pay_cart {
    background-color: #ffffff;
    border-radius: 2vh;
    color: black;
    float: left;
    font-size: 0.9rem;
    padding: 1rem;
    width: 15vh;
    margin-bottom: 5vh;
}

.pay_cart:hover {
    background-color: #fffafa;
}

.btn_sumar_item,
.btn_restar_item {
    font-size: 1.6rem;
    background-color: white;
}

.cart_quantity {
    float: left;
    margin-left: -1.6vh;
}

.remove_item {
    float: right;
    margin-right: 5vh;
    color: #fae8e4;
    cursor: pointer;
}

.remove_item:hover {
    float: right;
    margin-right: 5vh;
    color: #dfcac5;
    cursor: pointer;
}

.total_cart_icon {
    text-align: center;
    vertical-align: bottom;
    color: #fff7f5;
    font-size: 10rem;
}


/* ----- Variables ----- */


/* ----- Global ----- */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr;
}

h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: #a6a6a6;
}

img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px #a6a6a6);
}


/* ----- Product Section ----- */

.product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    background-color: white;
    border-radius: 5px;
}


/* ----- Photo Section ----- */

.product__photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
    border-radius: 6px 6px 0 0;
    transition: .6s ease-in-out;
    background-color: #fae8e4;
}

.photo-main-2 {
    border-radius: 6px 6px 0 0;
    transition: .6s ease-in-out;
    background-color: #f4f5ff;
}

.photo-main-3 {
    border-radius: 6px 6px 0 0;
    transition: .6s ease-in-out;
    background-color: #ffe9f8;
}

.photo-main-4 {
    border-radius: 6px 6px 0 0;
    transition: .6s ease-in-out;
    background-color: #ffe5da;
}

.photo-main .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #ddbcb5;
}

.photo-main-4 .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #e1c2b4;
}

.photo-main-3 .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #e3abd3;
}

.photo-main-2 .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    transition: 0.6s ease-in-out;
    color: rgb(179 182 213);
    ;
}

.photo-main .controls i {
    cursor: pointer;
}

.photo-main .front_product_img,
.photo-main-2 .front_product_img,
.photo-main-3 .front_product_img,
.photo-main-4 .front_product_img {
    max-width: 110%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(10px 20px 10px rgba(0, 0, 0, 0.3));
    position: absolute;
    transition: 0.5s ease-in-out;
    left: -3.5em;
    top: 5em;
}

.photo-main .front_product_img-in,
.photo-main-2 .front_product_img-in,
.photo-main-3 .front_product_img-in,
.photo-main-4 .front_product_img-in {
    max-width: 110%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    position: absolute;
    transition: 0.5s ease-in-out;
    left: -3.5em;
    transform: translate(-30rem, 0px);
    top: 5em;
    opacity: 0;
}

.photo-main .front_product_img-out,
.photo-main-2 .front_product_img-out,
.photo-main-3 .front_product_img-out,
.photo-main-4 .front_product_img-out {
    max-width: 110%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    position: absolute;
    left: -3.5em;
    top: 5em;
    transition: .3s ease-in-out;
    transform: translate(0rem, -20rem);
    opacity: 0;
}

.photo-album {
    padding: 0.7em 1em;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
}

.photo-album ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.photo-album li {
    float: left;
    width: 55px;
    height: 55px;
    padding: 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
}


/* ----- Informations Section ----- */

.product__info {
    padding: 0.8em 2rem 0.8rem 1rem;
}

.title h1 {
    margin-bottom: 0.1em;
    color: #4c4c4c;
    font-size: 1.5em;
    font-family: 'Allura';
    font-size: 2.5rem;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.4));
}
.control_icon{

}

.title span {
    font-size: 0.7em;
    color: #a6a6a6;
}

.price {
    margin: 1.5em 0;
    color: #ff3f40;
    font-size: 1.2em;
}

.price span {
    padding-left: 0.15em;
    font-size: 2.9em;
}

.variant {
    overflow: auto;
}

.variant h3 {
    margin-bottom: 1.1em;
}

.variant li {
    float: left;
    width: 35px;
    height: 35px;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.variant li:first-child,
.variant li:hover {
    border: 1px solid #a6a6a6;
}

.variant li:not(:first-child) {
    margin-left: 0.1em;
}

.description {
    clear: left;
    margin: 2em 0;
}

.description h3 {
    margin-bottom: 1em;
    font-weight:900;
}

.description ul {
    font-size: 0.8em;
    list-style: disc;
    margin-left: 1em;
    
}

.description li {
    margin-bottom: 0.5em;
    text-align: justify;
  
}

.buy--btn {
    padding: 1.5em 3.1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #ff3f40;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
}

.buy--btn:active {
    transform: scale(0.97);
}


/* ----- Footer Section ----- */

footer {
    padding: 1em;
    text-align: center;
    color: #fff;
}

footer a {
    color: #4c4c4c;
}

footer a:hover {
    color: #ff3f40;
}

.thumb_product_img {
    cursor: pointer;
}